APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=your-tenant.auth0.com
AUTH0_CLIENT_ID=your_auth0_client_id
AUTH0_CLIENT_SECRET=your_auth0_client_secret

# 64 character random string to encrypt the session cookie
#
# We're generating a secret for your convenience, but for production,
# generate your own secret using `openssl rand -hex 32`
AUTH0_SECRET=XXXXXXXXXXXXXXXXXXXXX

LLM_API_KEY=XXXXXXXXXXXXXXXXXXXXX
LLM_MODEL="gemini-latest-flash"
